.nested-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
    gap: 2em;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 100px;
  }
  
  .nested-cards {
    display: grid;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .card-productos-cat {
    width: 18rem;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 25px;
    border-radius: 7px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: al 400ms ease;
  }
  
  
  .card-productos-cat:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
  }
  
  
  .card-productos-cat img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  
  
  .card-productos-cat h3 {
    font-family: 'Roboto:wght@500', sans-serif;
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;
  }
  
  
  .card-productos-cat p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 8px;
    text-align: center;
  }
  .card-img-top-cat {
    grid-row: 1/2;
  }
  
  .card-title-cat {
    grid-row: 2/3;
  }
  .card-text-cat {
    margin-top: 30px;
    grid-row: 3/4;
  }