.container-fluid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  grid-auto-rows: minmax(100px, auto);
}

/* grilla menu y estilos */

.nested-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 3em;
    margin-bottom: 50px;
}

.nested-menu {
  justify-items: end;
  display: grid;
  margin-right: 50px;
}
.menu-container {
  width: 100%;
  margin-right: 0px;
}
/* buscador */


.form {
  display: inline-block;
}


.form {
  font-family: 'Roboto', sans-serif;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.buscador button {
  font-family: 'Roboto', sans-serif;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #3fa09b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* "categorias de productos" */


.categorias {
  font-size: 20px;
  font-family: 'Roboto:wght@700', sans-serif;
  color: gray;
  background: #fff;
  border-bottom: 1px solid gray;
  margin: 20px 0;
  width: 100%;
}


/* catergorias menu */


.menu-container button {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  text-align: start;
  color: black;
  background: #fff;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px inset gray;
  margin: 16px 0;
  width: 100%;
}


.menu-container button:hover {
  box-shadow: transparent;
  padding: 10px;
  transform: translateY(-3%);
}

.pagination a {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 4px;
  text-decoration: none;
  background-color: #f1f1f1;
  color: #333;
}


.pagination a.active {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #3fa09b;
  color: white;
}