#empresa #info_empresas p{
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    height: auto;
    text-align: center;
    


}

#empresa #productos {
    width: 100%;
    height: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#empresa #titulo-productos {
    font-family: 'Roboto:wght@700', sans-serif;
    font-size: 40px;
    color: #77C6C2;
    text-align: center;
    margin-top: 60px;
}


#empresa #container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
    margin-bottom: 40px;
    padding: 0;
    box-sizing: border-box;

}

#empresa #cards {
    width: 25vh;
    /* margin: 50px 50px 50px 50px ; */
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;

}

#empresa #cards h2{
    font-size: 25px;
}

#empresa #cards:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

#empresa #cards img {
    max-width: 100%;
    height: auto;
}

#empresa #cards #contenido {
    padding: 15px;
    text-align: center;
}

#empresa #cards #contenido h5 {
    font-size: 16px;
    line-height: 1.5;
    color: #6a6a6a;
}

#empresa #cards #contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #3fa09b;
    border: 1px solid #3fa09b;
    border-radius: 4px;
    transition: all 400ms ease;
}

#empresa #cards #contenido a:hover {
    background: #3fa09b;
    color: #fff;
}

#empresa #formulario {
    /* background-color: rgb(245, 147, 0); */
    width: 100%;
    height: 1100px;
    position: relative;

}

#empresa #form {
    width: 55%;
    height: 1100px;
    position: absolute;
    margin-left: 2%;
}

#empresa .contact_form {
    width: 100%;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding: 30px 0px 20px 30px;
}


#empresa input {
    background-color: #fbfbfb;
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #3fa09b;
    margin: 10px 0px 20px;
    padding-left: 10px;
}

#empresa .checkbox_productos {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 0 0 12px 10px;
    cursor: pointer;
}

#empresa .checkbox_productos input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#empresa .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

#empresa .checkbox_productos:hover input~.checkmark {
    background-color: #3fa09b;
}

#empresa .checkbox_productos input:checked~.checkmark {
    background-color: #3fa09b;
}

#empresa textarea {
    background-color: #fbfbfb;
    width: 100%;
    height: 150px;
    border-radius: 15px;
    border: 1px solid #3fa09b;
    margin: 10px 0px 20px;
    padding: 15px 0px 0px 10px;
}


#empresa label {
    display: block;
    float: center;
}


#empresa button {
    height: 45px;
    width: 420px;
    padding: 0 5px;
    margin: 10px 0 20px;
    text-transform: uppercase;
    background-color: #3fa09b;
    border: 0px solid #3fa09b;
    border-radius: 10px;
    cursor: pointer;
    
}


#empresa button p {
    color: #fff;
    margin-bottom: auto;
}


#empresa span {
    color: #ab4493;
}


#empresa .aviso {
    font-size: 13px;
    color: #0e0e0e;
}

#empresa p {
    font-size: 14px;
    color: #0e0e0e;
}

#empresa .formulario input:focus {
    outline: 0;
    border: 1px solid #97d848;
}


#empresa .formulario textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
}

#empresa #img-muestra {
    /* background-color: rgb(102, 16, 88); */
    width: 45%;
    height: 1100px;
    position: absolute;
    left: 60%;
}

#empresa #img_derecha {
    max-width: 100%;
    height: auto;
    margin-left: 5px;
    border-radius: 6px;

}

