/* .footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  grid-auto-rows: minmax(100px, auto);
}

.container-footer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100px, 100%), 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 1em;
  margin-bottom: 50px;
  justify-content: center;
} */

.footer {
  background-color: #6fbbbd;
  width: 100%;
  height: 10%;
  padding: 20px;
  color: #51918C;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.container-footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.link-maps {
  text-decoration: none;
  color: inherit;
}
.ubicacion {
  width: 25%;
  margin-bottom: 10%;
  margin-top: 5%;
}

.link-insta {
  text-decoration: none;
  color: inherit;
}

.ig {
  width: 15%;
  margin-top: 2%;
  margin-bottom: 5%;
}

.link-ws {
  text-decoration: none;
  color: inherit;
}

.wasap {
  width: 15%;
  margin-bottom: 5%;
}

.mediosdepago {
  margin-top: 5%;
  width: 80%;
  margin-bottom: 5%;
}

.navegador {
  text-transform: uppercase;
}

.logofooter {
  margin-top: 3%;
  margin-left: 6%;
  width: 100%;
  justify-items: center;
}

.link-f {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: rgb(110, 107, 107);
  justify-content: center;
  display: list-item;
  text-align: center;
  margin: 0%;
  padding: 0%;
}

